<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome in Somesh world</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col><ion-button (click)="goHome();">Home</ion-button></ion-col>
  <ion-col><ion-button>About</ion-button></ion-col>
  <ion-col><ion-button>Contact Us</ion-button></ion-col>
  <ion-col><ion-button>Help?</ion-button></ion-col>
</ion-content>
